@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    transition: all 1s ease-in-out 0.8s;
    scroll-behavior: smooth;
    transition:ease-in-out;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 80px;
    border-radius: 150px;
    border: 2px white;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
}

.nav-list li a:hover{
    text-decoration: none;
    color:grey;
}

.background{
    background: rgba(0, 0, 0, 0.5) url(../Assets/Pat3.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.fs{
    height: 90vh;
}

.boxmain{
    justify-content: center;
    align-items: center;
    font-family: 'ubuntu', sans-serif;
    color: white;
    max-width: 45%;
    margin: auto;
    height: 100%
}

.fh{
    width: 100%;
    align-items: center;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    height: 75%;
}

.textbig{
    font-size: 41px;
}

.textsmall{
    font-size: 20px;
    font-family: none;
}

.sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    color: white;
}

.secT{
    background:rgba(0, 0, 0, 0.7) url(../Assets/wed.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

.secM1{
    flex-direction: row-reverse;
    background:rgba(0, 0, 0, 0.7) url(../Assets/corp.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;   
}

.secM2{
    background:rgba(0, 0, 0, 0.7) url(../Assets/shoot.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed; 
}

.secB{
    flex-direction: row-reverse;
    background:rgba(0, 0, 0, 0.7) url(../Assets/vide.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed; 
}

.para{
    padding: 0 55px;
}

.sectag{
    padding: 16px 0;
}

.secsubtag{
    font-family: 'Ubuntu', sans-serif;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin: 19px;
}

.arrowbtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrowbtn a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    display: block;
    border-radius: 40px;
    cursor: pointer;
}

.arrowbtn a i{
    color: #f2f2f2;
    line-height: 39px;
    font-size: 25px;
}